<section class="about">
  <h1 class="about-heading">
    Hey 👋 I write <a class="about-heading-link" rel="noopener noreferrer"  href="https://github.com/rallyos" target="_blank">software</a>.
    {{ with $.Site.GetPage "things" }}
    I also write about <a class="about-heading-link" href="{{ .RelPermalink }}">things</a>.
    {{ end }}
  </h1>
  <ul class="featured">
    <li class="featured-box">
      {{ range $.Site.Data }}
          {{ partial "public-work.html" . }}
      {{ end  }}
    </li>
    <li class="featured-box">
      <div class="thing-of-week">
        {{ with $.Site.GetPage "things" }}
        <h3 class="featured-heading"><a href="{{ .RelPermalink }}">thing of the week</a></h3>
        {{ end }}
        {{ range first 1 (where site.Pages.ByDate.Reverse "Section" "things") }}
            <h3 class="thing-of-week-title"><a class="article-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <h4 class="thing-of-week-issue">( {{ .Params.Issue }} )</h4>
        {{ end }}
      </div>
      {{ range $.Site.Data }}
          {{ partial "work.html" . }}
      {{ end  }}
    </li>
  </ul>
</section>
