<section class="about">
	<ul class="featured">
		<li class="featured-box">
      <i class="fal fa-cookie-bite cookie-icon"></i>
      <h4 class="thing-of-the-week-heading"><a class="article-link" href="{{ .RelPermalink }}">Thing of the week</a></h4>
      <a class="article-link" href="{{ .RelPermalink }}">Coming really soon </a>
      {{ range $.Site.Data }}
          {{ partial "bites.html" . }}
      {{ end  }}
		</li>
		<li class="featured-box">
      {{ partial "featured-article.html" . }}
		</li>
	</ul>
</section>
