<ul class="info-bites-list">
{{ range .bites}}
  <li class="info-bites-list-item">
    <div class="info-bite-box">
      <span class="info-bite-title">{{ .title }}</span>
      {{ if .links }}
          <div class="info-bite-subtitle">
          {{ range $index, $element := .links }}
              <a href="{{ .url }}" target="_blank">{{ .name }}</a>
              {{ if not (eq $index 2) }}
              <span> / </span>
              {{ end  }}
          {{ end }}
          </div>
      {{ else }}
          <span class="info-bite-subtitle">{{ .subtitle }}</span>
      {{ end }}
    </div>
	</li>
{{ end }}
</ul>
