<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if eq .Section "" }}
  <title>{{ .Title }}</title>
  {{ else }}
  <title>{{ .Site.Title }} | {{ .Title }}</title>
  {{ end }}
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/light.css" integrity="sha384-yNf+8hATd/MoR/yfZG0nBBtjTfxZEM1rJos9BgjBaVuLcu711wcecTXBlfS91nfj" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/duotone.css" integrity="sha384-tHth4ugEmPOZTBSN4Hi2oYiHY6vpxIL8clasFZidKyR6Gm34+U6wx6A9eZHqTs2W" crossorigin="anonymous">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/fontawesome.css" integrity="sha384-bQakmC+XBF+eCf93fSR/57kAeX91i0BDyXyj8My8/e/3Bcno5zhEGM02xNvpXV+2" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
