<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ template "_internal/twitter_cards.html" .  }}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d45c41">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="My internet treehouse.">
  {{ else if eq .Kind "section" }}
  <title>{{ .Site.Title }} | {{ .Section }}</title>
  <meta name="description" content="{{ .Summary }}">
  {{ else if .IsPage }}
  <title>{{ .Site.Title }} | Thing of the week ({{ .Params.Issue }}) — {{ .Title }}</title>
  {{ end }}

  {{ $css := resources.Get "css/main.css" }}
  {{ $style := $css | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
