<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  {{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="My internet treehouse.">
  {{ else if eq .Kind "section" }}
  <title>{{ .Site.Title }} | {{ .Section }}</title>
  <meta name="description" content="{{ .Summary }}">
  {{ else if .IsPage }}
  <title>{{ .Site.Title }} - {{ .Title }}</title>
  {{ end }}
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,500,500i" rel="stylesheet">

  {{ $css := resources.Get "css/main.css" }}
  {{ $style := $css | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link href="/fonts/fa/css/fontawesome.min.css" rel="stylesheet">
  <link href="/fonts/fa/css/duotone.min.css" rel="stylesheet">
  <link href="/fonts/fa/css/light.min.css" rel="stylesheet">
</head>
