<section class="posts">
	{{ range .Site.Taxonomies.categories.Alphabetical }}
  {{ if not (eq .Page.Name "featured") }}
  <div class="posts-list">
    <h2 class="posts-category">
      {{ .Page.Title }}
    </h2>
    {{ range first 3 (where .Page.Pages.ByDate.Reverse "Section" "posts") }}
      <article class="article-box">
        <div class="article-summary">
          <h3><a class="article-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <p class="article-summary-text">{{ .Summary }}</p>
        </div>
      </article>
    {{ end }}
    <div class="more-posts-box">
      <a href="{{ .Page.Permalink  }}">&#8729;&#8729;&#8729;</a>
    </div>
  </div>
  {{ end }}
  {{ end }}
</section>
