{{ partial "meta.html" . }}
<body>
<div class="wrapper">
  {{ partial "header.html" . }}
  {{ $baseURL := .Site.BaseURL }}
  <section class="content-wrap">
    <header class="post-header">
      <h1 class="article-heading">{{ .Title }}</h1>
      <span class="article-date"> {{ .Date.Format "Mon Jan 2, 2006" }} </span>
      <span class="article-info"> {{ .FuzzyWordCount }} Words </span>
    </header>
    <div>
      <article id="content">
         {{ .Content }}
      </article>
    </div>
  </section>
  {{ partial "footer.html" . }}
  {{ partial "bridge.html" . }}
</div>
</body>
</html>
