body {
  font-family: "Roboto Mono", monospace;
  font-display: swap;
  color: #FBF9F4;
  margin: 0;
  font-size: 0.95em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h2 {
  margin: 30px 0 20px;
  font-weight: 500;
}
figure {
  margin: 0;
  text-align: center;
}
figcaption > p {
  margin: 5px 0 25px !important;
  color: #5d5757;
  font-size: 0.75em !important;
  font-weight: 400;
}
.wrapper {
  max-width: 980px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.day {
  background: #FBF9F4;
  color: #343534;
}
.day a {
  color: #343534;
}
.night {
  background: #333333;
  color: #FBF9F4;
}
.night a {
  color: #FBF9F4;
}
a:hover {
  text-decoration: underline;
  color: #D45C41;
}
.header {
  margin-bottom: 20px;
}
#logo {
  margin: 11px 0 8px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  display: inline-block;
}
.nav-list-item {
  float: left;
  font-size: 2em;
}
.nav-list-item-link {
  display: inline-block;
  cursor: pointer;
  border-top: solid 3px transparent;
}
.nav-list-item-link:hover {
  text-decoration: none;
  border-top-color: #D45C41;
}
.slash-symbol {
  cursor: default;
}
.crosslined {
  text-decoration: line-through;
}
.nav-list-item-link.crosslined:hover {
  text-decoration: line-through;
}
.nav-list-item-link.home {
  font-size: 2em;
  line-height: 32px;
}
.day-night-block {
  padding-top: 5px;
  float: right;
}
.circle {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #FBF9F4;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
}
.toggle-night {
  background: #333333;
  border: solid 2px #272727;
}
.toggle-day {
  background: #FBF9F4;
  border: solid 2px #343534;
}
.circle-separator {
  float: left;
  font-size: 2.7em;
  line-height: 28px;
  margin: 0 10px;
  color: #D45C41;
  cursor: default;
}
.posts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.posts-list {
  width: 44%;
}
.posts-category {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: solid 1px #D25D46;
  font-weight: 400;
  text-transform: capitalize;
  cursor: default;
}
.front-icon {
  font-size: 2em;
  display: block;
  margin: 0 auto;
  width: 31px;
  height: 31px;
}
.posts-icon {
  color: #D25D46;
}
.article-box {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.article-link {
  color: #FBF9F4;
  text-decoration: none;
  cursor: pointer;
}
.article-link:hover {
  text-decoration: underline;
}
.article-summary-text {
  font-size: 0.95em;
}
.more-posts-box {
  width: 100%;
  font-size: 4em;
  text-align: center;
}
.more-posts-box a {
  text-decoration: none;
}
.about {

}
.about-heading {
  text-align: center;
  font-weight: 300;
  font-size: 1.75em;
}
.night .about-heading-link,
.day .about-heading-link {
  font-weight: 400;
  color: #D45C41;
}
.featured {
  width: 100%;
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.featured-box {
  width: 48%;
  text-align: center;
}
.featured-heading {
  margin: 20px 0 10px;
}
.thing-of-week, .recent-work {
  margin-bottom: 40px;
}
.article-heading {
  font-size: 2.1em;
  font-weight: 400;
}
.content-wrap {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}
.content-wrap p {
  line-height: 1.75em;
  font-size: 1em;
}
.content-wrap a {
  color: #D45C41;
}
.read-more-link {
  text-decoration: underline;
}
.post-header {
  margin: 20px 0 40px;
  text-align: center;
}
#content img {
  max-width: 100%;
}
#content p {
  margin: 1.4em 0;
}
#content blockquote {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 1px 0 1px 20px;
  border-left: solid 4px #D45C41;
}
#content blockquote p {
  margin: 10px 0;
}
#content ul {
  list-style: initial;
  margin-left: 20px;
}
.list-posts-box {
  margin: 40px 0;
}
.list-posts-item {
  text-align: center;
}
.list-posts-item-summary {
  margin: 25px 0;
}
.list-posts-item-title {
  margin-bottom: 0;
}
.list-posts-item-date {
  margin-top: 5px;
}
.things-introduction {
  margin-top: 2em;
}
.featured-things-wrapper {
  width: 100%;
  margin: 2em 0 4em;
  display: flex;
  justify-content: space-around;
}
.featured-thing {
  width: 30%;
  height: 50px;
  padding: 0.5em;
  color: #D45C41;
  border: dotted 1px #D45C41;
}
.featured-thing-headings {
  text-align: right;
}
.featured-thing-title,
.featured-thing-issue {
  width: 90%;
  display: inline-block;
  margin: 0;
}
.night .featured-thing-issue > a {
  color: #FBF9F4;
}
.day .featured-thing-issue > a {
  color: #343534;
}
.featured-thing-pin {
  float: left;
  margin: 0.25em;
  font-size: 1.6em;
  color: #D25D46;
}

footer {
  margin-top: 40px;
  text-align: center;
}
.earth {
  display: block;
  width: 12px;
  height: 12px;
  border: solid 28px #1300ED;
  background: #435B1D;
  margin: 0 auto 20px;
  border-radius: 40px;
}
.hugo-version {
  font-size: sans-serif;
  font-size: 0.8em;
}
::selection {
  background: rgba(204, 63, 32, 0.85);
  color: #FBF9F4;
}

@media screen and (max-width: 1040px) {
  nav {
    padding: 0 20px;
  }
  .featured-article-box {
    padding: 0 20px;
  }
  .posts-list {
    padding: 0 8px;
  }
}

@media screen and (max-width: 980px) {
  nav {
    padding: 0 20px;
  }
  .featured-article-box {
    padding: 0 20px;
  }
  body {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 768px) {
  .nav-list-item {
    font-size: 1.6em;
    word-spacing: -8px;
  }
  .circle {
    width: 28px;
    height: 28px;
  }
  .circle-separator {
    font-size: 2.2em;
    line-height: 25px;
  }
  .nav-list-item-link.home {
    line-height: 25px;
  }
  body {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 600px) {
  .day-night-block {
    padding-top: 3px;
  }
  .featured {
    flex-direction: column-reverse;
  }
  .featured-box {
    width: 100%;
  }
  .featured-heading {
    margin: 20px 0 25px;
  }
  .thing-of-week, .recent-work {
    margin-bottom: 20px;
  }
  .featured-article-box {
    margin-bottom: 20px;
  }
  .posts {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .posts-list {
    width: 92%;
  }
}

@media screen and (max-width: 420px) {
  nav {
    padding: 0 8px;
  }
  .circle {
    width: 20px;
    height: 20px;
  }
  .circle-separator {
    font-size: 2em;
    line-height: 18px;
  }
  .nav-list-item-link.home {
    line-height: 20px;
  }
}
