body {
  font-family: 'Lora', serif;
  background: #000;
  color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
  color: #D45C41;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.header-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
}
.nav-list {
  display: inline-block;
}
.nav-list-item {
  float: left;
  font-size: 2em;
}
.nav-list-item-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.nav-list-item-link.home {
  font-size: 2em;
  line-height: 40px;
}
.nav-list-item-link:hover {
  text-decoration: overline;
  color: #D45C41;
}
.day-night-block {
  position: absolute;
  top: 8px;
  right: 8px;
}
.circle {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
}
.toggle-night {
  background: #000;
  border: solid 2px #fff;
}
.toggle-day {
  background: #fff;
  border: solid 2px #000;
}
.circle-separator {
	float: left;
	font-size: 3em;
	line-height: 40px;
  margin: 0 10px;
  color: #D45C41;
}
.featured {
  width: 88%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.featured-article-box:first-child {
  width: 100%;
  text-align: center;
}
.featured-article-box {
  width: 46%;
  margin: 20px 0;
  line-height: 1.3em;
  word-spacing: 2px;
}
.featured-article-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.featured-article-link:hover {
  text-decoration: underline;
}
.about {

}
.info-bites-list {
  width: 88%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.info-bites-list-item {
  width: 20%;
  margin: 0 5% 50px;
}
.info-bites-list-item:first-child {
  width: 90%;
  padding-left: 35%;
}
.info-bite-box {
  margin: 0 auto;
}
.info-bite-title {
  display: block;
}
.info-bite-subtitle {
  display: block;
  padding-left: 20px;
}

.content-wrap {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  line-height: 1.3em;
  word-spacing: 2px;
}
.content-wrap a {
  color: #D45C41;
}
.post-header {
  display: inline-block;
  margin-bottom: 40px;
}
#content img {
  max-width: 100%;
}

footer {
  text-align: center;
}
.earth {
  display: block;
  width: 12px;
  height: 12px;
  border: solid 28px #1300ED;
  background: #435B1D;
  margin: 0 auto;
  border-radius: 40px;
}
::selection {
  background: rgba(204, 63, 32, 0.85);
  color: #fff;
}
